@charset "utf-8";

/* 基本：フォント */
body {
    color: #222222;
    font-family: sans-serif;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    margin-top: 21px;
    margin-bottom: 52px;
}

h1 br {
    display: none;
}

h2 {
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 40px;
}

p {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    font-size: 14px;
    font-weight: 1.8;
}

.subtitle {
    color: #7FA9AA;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
    h1 {
        font-size: 48px;
        margin-bottom: 72px;
    }

    h1 br {
        display: inline;
    }

    h2 {
        font-size: 28px;
        margin-top: 90px;
    }

    p {
        font-size: 18px;
        line-height: 1.8;
        margin-top: 1.8em;
        margin-bottom: 1.8em;
    }

    .subtitle {
        font-size: 18px;
    }
}

/* 基本：画像 */
figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


/* リセット / ノーマライズ / サニタイズ */

body {
    margin: 0;
}

/*img, svg {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    vertical-align: bottom;*/
/*}*/

a {
    color: inherit;
    text-decoration: none;
}

/*a:hover {*/
/*    opacity: 0.8;*/
/*}*/


/* 記事 */
.content {
    margin: 36px 20px 74px;
}

.content h2::before {
    content: url(img/mark.svg);
    margin-right: 10px;
    line-height: 1;
}

.content h2 {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .content {
        max-width: 720px;
        margin: 64px auto 90px;
        padding: 0 0 70px 70px;
    }

    .content h2 {
        margin-left: -57.5px;
    }
}

/* ヘッダー画像*/
.headimg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .headimg img {
        height: 393px;
    }
}

/* メッセージ(基本) */
.msg {
    padding: 92px 20px;
    background-image: url(img/wall.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.msg h2 {
    margin: 0;
    font-size: 24px;
}

.msg p {
    font-size: 12px;
    text-align: left;
    max-width: 32.2em;
    margin: 19px auto 0;
}

@media (min-width: 768px) {
    .msg h2 {
        font-size: 36px;
    }

    .msg p {
        font-size: 16px;
    }
}

/* ボタン(基本) */
.btn {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 4px;
    background-color: #F1A816;
    color: #fff;
    font-size: 16px;
}

.btn:hover {
    background-color: #EA8C06;
}

@media (min-width: 768px) {
    .btn {
        padding: 10px 75px;
        margin-top: 62px;
        font-size: 18px;
    }
}

/*ヘッダー＆フッター */
.header, .footer {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    margin-top: 20px;
    margin-bottom: 18px;
    text-align: center;
}

.footer {
    margin-top: 36px;
    margin-bottom: 36px;
}

@media (min-width: 768px) {
    .header, .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
    }

    .header .inner02, .footer .inner02 {
        text-align: right;
    }

    .header {
        margin-top: 43px;
        margin-bottom: 44px;
    }
}

/*ヘッダー＆フッター：サイト名 */
.site {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* ヘッダー＆フッター：ナビゲーションメニュー */
.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li:not(:last-child) {
    margin-right: 20px;
}

.nav a:hover {
    color: #ea8c06;
}

.header .nav ul {
    justify-content: center;
    margin-top: 22px;
    font-size: 12px;
}

.footer .nav ul {
    margin-top: 35px;
    font-size: 11px;
}

@media (min-width: 768px) {
    .nav li:not(:last-child) {
        margin-right: 40px;
    }

    .header .nav ul {
        margin-top: 0;
        font-size: 16px;
    }

    .footer .nab ul {
        margin-top: 0;
        font-size: 12px;
    }
}

/* ヘッダー＆フッター：住所 */
.address {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.5;

}

/* ヘッダー＆フッター：コピーライト */
.copy {
    font-size: 11px;
    margin-top: 19px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .copy {
        margin-top: 27px;
        font-size: 12px;
    }
}

/* ヒーロヘッダー */
.hero img {
    height: 434px;
    width: 100%;
    object-fit: cover;
}

.hero .text {
    margin: -65px 20px 74px;
}

.hero h1 {
    margin-top: 21px;
    margin-bottom: 0;
}

.hero h1 br {
    display: inline;
}

.hero p {
    margin-top: 26px;
    margin-bottom: 0;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

.hero .btn {
    margin-top: 26px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1088px;
        margin: 0 auto 74px;
        padding: 0 20px;
    }

    .hero img {
        height: 100%;
    }

    .hero .text {
        flex: 0 0 485px;
        margin: 110px -139px 39px 0;
    }

    .hero p {
        margin-top: 43px;
        font-size: 18px;
    }

    .hero .btn {
        margin-top: 43px;
    }
}

/* メッセージ（トップ）*/
.msgtop {
    margin-bottom: 74px;
    padding: 110px 20px;
    background-image: url(img/plan.jpg);
}

@media (min-width: 768px) {
    .msgtop {
        padding-right: 56px;
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .msgtop h2, .msgtop p {
        max-width: 515px;
        margin-right: 0;
        margin-left: auto;
        text-align: left;
    }
}

/* 人気のシステム */
.systems {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 74px;
    text-align: center;
}

.systems h2 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 66px;
    margin-top: 18px;
}

.sys img {
    width: 82px;
    border: 8px solid #7FA9AA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sys .subtitle {
    margin-top: 31px;
    margin-bottom: 0;
    color: #888;
    font-weight: normal;
}

.sys h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.sys p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
}

.sys:not(:last-child) {
    margin-bottom: 61px;
}

@media (min-width: 768px) {
    .systems {
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;
    }

    .system h2 {
        margin-bottom: 72px;
    }

    .sys {
        display: flex;
        align-items: center;
    }

    .sys figure {
        flex: 0 0 307px;
    }

    .sys img {
        width: 100%;
    }

    .sys .text {
        margin-left: 40px;
        margin-right: 12%;
        text-align: left;
    }

    .sys .subtitle {
        margin-top: 0;
        font-size: 14px;
    }

    .sys h3 {
        margin-top: 18px;
        font-size: 24px;
    }

    .sys p {
        margin-top: 46px;
        font-size: 16px;
    }

    .sys:nth-child(even) {
        flex-direction: row-reverse;
    }

    .sys:nth-child(even) {
        margin-right: 40px;
        margin-left: 12%;
    }

    .sys:not(:last-child) {
        margin-bottom: 47px;
    }
}
